/*CREATED BY JAEHYUN BAIK*/
html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
div {
    display: block;
}

ul {
    display: block;
    padding: 0;
    list-style-type: disc;
}
p {
    color: #869093;
    font-size: 14px;
    line-height: 26px;
    padding-bottom: 15px;
    margin: 0 0 10px;
}

li {
    line-height: 20px;
    display: list-item;
}

.last {
    margin-bottom: 0;
}
body {
    font-family: 'fjalla_oneregular';
    background: #f0f0f0;
    margin: 0;
    display: block;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
}

@font-face {
    font-family: 'fjalla_oneregular';
    src: url(../fonts/fjallaone-regular-webfont.ttf);
}

@font-face {
    font-family: 'oxygenregular';
    src: url(../fonts/oxygen-regular-webfont.ttf);
}

@font-face {
    font-family: 'open_sanslight';
    src: url(../fonts/opensans-light-webfont.ttf);
}

@font-face {
    font-family: 'open_sansbold';
    src: url(../fonts/opensans-bold-webfont.ttf);
}

h1 {
    margin: 0;
    font-size: 38.5px;
    line-height: 40px;
    font-family: inherit;
    font-weight: bold;
    text-rendering: optimizeLegibility;
    display: block;
}

h2 {
    margin: 0;
    font-family: inherit;
    text-rendering: optimizeLegibility;
}

a {
    transition: all 1s;
    text-decoration: none;
}
a:hover {
    outline: 0;
}

.header-wrapper {
    background: url(../img/body-bg.jpg) repeat; 
    overflow: hidden;
    margin: 0 auto;
}

.header {
    background: #383838; 
    margin-top: 60px;
    overflow: hidden;
}

.container {
    margin-right: auto;
    margin-left: auto;
    max-width: 1170px;
    width: 1170px;
    display: table;
}

.container:before {
    display: table;
    line-height: 0;
}

.container:after {
    clear: both;
    display: table;
    line-height: 0;
}

.sitename {
    margin-top: -10px;
    position: absolute;
}

.sitename h1 {
    background: #f85c5e;
    color: #fff;
    padding: 20px;
    border-radius: 5px;
    text-transform: uppercase;
}

.menu {
    float: right;
}
.nav {
    list-style-type: none;
    float: left;
    left: 0;
    margin: 0 10px 0 0;
    padding: 0; 
    display: block;
    position: relative;
}
.navbar {
    overflow: visible;
    margin-bottom: 20px;
}
.nav_collapse {
    height: auto !important;
    overflow: visible !important;
    position: relative;
}
.nav li {
    float: left; 
    background-color: #383838; 
    line-height: 20px;
    border-right: 1px solid #292929;
    display: list-item;
}
.nav li a {
    font-size: 14px;
    background-image: none;
    padding: 20px;
    float: none;
    display: block;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}
.nav .active a {
    color:#f85c5e;
    background: #2a2a2a;
    box-shadow: none;
    text-shadow: none;
}
.nav li a:hover {
    color: #f85c5e;
    background: #2a2a2a;
}

.banner {
    text-align: center;
    margin-top: 55px;
    border-radius: 5px;
    border: 20px solid #fff;
    border-bottom: none;
    margin-bottom: -4px;
}

.carousel {
    margin-bottom: 0;
    position: relative;
    line-height: 1;
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-inner > .item {
    position: relative;
    left: 0;
}

img {
    height: auto;
    border: 0;
    vertical-align: middle;
    max-width: 100%;
}

.carousel-inner img {
    display: block;
    line-height: 1;
    width: 100%;
}

.carousel-caption {
    background: none;
    top: 40%;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 15px;
}

.carousel-caption h1 {
    color: #fff;
    font-size: 64px;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-weight: normal;
}

.carousel-caption h2 {
    color: #fff;
    font-size: 22px;
    line-height: 30px;
    font-weight: normal;
    padding-bottom: 15px;
}

.carousel-caption .caption-button:hover {
    color: #383838;
    background: none;
    border: 3px solid #383838;
}
.carousel-caption .caption-button {
    border-radius: 5px;
    border: 3px solid #fff;
    color: #fff;
    background: none;
    font-size: 18px;
    box-shadow: none;
    text-shadow: none;
    padding: 10px;
    line-height: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    cursor: pointer;
    border-color: #fff;
}

.banner .carousel-button {
     width: 35px; 
     border-radius: 5px; 
     top: 50%; 
     font-size: 20px; 
     color: #f1c578; 
     background: #fff; 
     line-height: 40px; 
     opacity: 1.0; 
     border: none;
     text-align: center;
}

.carousel-button {
    position: absolute;
    height: 40px;
    margin-top: -20px;
    
}

.banner .carousel-button.left {
    left: -10px;
    color: #f1c578;
}

.banner .carousel-button.right {
    right: -10px;
    color: #f1c578;
}

.carousel-button.left:hover, .carousel-button.right:hover {
    background: #fff;
    color: #383838;
}
.fa-chevron-left , .fa-chevron-right {
    line-height: inherit !important;
}

.featured-blocks .block-divider i {
    font-size: 73px;
    color: #747474;
    text-decoration: inherit;
    display: inline-block;
}
.featured-blocks .block-divider i:hover {
    color: #f85c5e;
}


.border {
    background: url(../img/v-shadow.png) no-repeat right 0;
}
.no-border {
    border-bottom: none !important;
}

.row_blocks {
    width: 100%;
    display: table;
}

.row_blocks:before, .row_blocks:after {
    clear: both;
    display: table;
    line-height: 0;
}

.featured-blocks {
    background: #fff !important;
    border-radius: 0 0 5px 5px;
    margin-bottom: 60px;
}

.row_blocks [class*="span"] {
    float: left;
    min-height: 30px;
    box-sizing: border-box;
    margin-left: 2.564102564102564%;
}

.row_blocks [class*="span"]:first-child {
    margin-left: 0;
}
.span3 {
    width: 23.076923076923077%;
}

.span4 {
    width: 31.623931623931625%;
}

.general-posts {
    overflow: hidden;
    margin-bottom: 25px;
}

.user-info {
    padding: 25px 15px 0 15px;
    border-radius: 5px 5px 0 0;
    background: #fff;
}

.user-info h1 {
    color: #747474;
    font-size: 17px;
    line-height: 24px;
    padding-bottom: 25px;
    text-transform: uppercase;
    font-weight: normal;
}

.user-info p {
    color: #979797;
    font-size: 13px;
    line-height: 22px;
    font-family: 'oxygenregular';
}

.user-info img {
    width: 100%;
}

.image-spacing {
    padding-bottom: 25px;
}
.read-more {
    background: #f85c5e;
    padding: 15px;
    border-radius: 0px 0px 5px 5px;
}

.read-more a {
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 24px;
}

.block-divider p {
    color: #979797;
    font-size: 13px;
    line-height: 22px;
    font-family: 'oxygenregular';
    text-decoration: underline;
    margin: 0;
    padding-bottom: 15px;
}

.block-divider {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 35px;
}

.block-divider h1 {
    color: #f85c5e;
    font-size: 17px;
    line-height: 24px;
    text-transform: uppercase;
    padding-top: 15px;
    font-weight: normal;
}

.span9 {
    width: 74.35897435897436%;
}

.span12 {
    width: 100%;
}

.span6 {
    width: 48.717948717948715%;
}
.footer-wrapper {
    margin-top: 40px;
    font-family: 'open_sanslight';
    background: url(../img/body-bg.jpg) repeat;
    padding-top: 50px;
    padding-bottom: 65px;
    overflow: hidden;
}

.footer-links {
    color: #a5a5a5;
    padding-bottom: 30px;
    border-bottom: 1px solid #484747;
}

.sidebar {
    padding: 20px;
    padding-top: 25px;
    background: #fff;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 25px;
}

.sidebar h1 {
    color: #747474;
    font-size: 17px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: normal;
}

.sidebar .input-append {
    margin-top: 10px;
}

.input-append, .input-prepend {
    display: inline-block;
    margin-bottom: 10px;
    font-size: 0;
    white-space: nowrap;
    vertical-align: middle;
}

.sidebar input {
    border: none;
    background: #eee;
    box-shadow: none;
    border-radius: 4px 0 0 4px;
    position: relative;
    margin-bottom: 0;
    vertical-align: top;
    font-size: 14px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    margin: 0;
    cursor: auto;
    user-select: text;
    text-rendering: auto;
    letter-spacing: normal;
    text-align: start;
    text-shadow: none;
    text-indent: 0px;
    text-transform: none;
    word-spacing: normal;
    float: none;
}

input[type="text"] {
    height: 20px;
    padding: 4px 6px;
    line-height: 20px;
    color: #555555;
}

.add-on {
    border: none;
    display: inline-block;
    width: auto;
    height: 20px;
    min-width: 16px;
    line-height: 20px;
    padding: 5px;
    font-size: 14px;
    text-align: center;
    text-shadow: 0 1px 0 #ffffff;
    margin-left: -1px;
    background-color: #eeeeee;
}

.add-on i {
    color: #f85c5e;
}

.sidebar ul {
    margin: 0;
    margin-top: 15px;
}

.sidebar ul li {
    border-bottom: 1px solid #f0f0f0;
    padding-bottom: 8px;
    padding-top: 8px;
    padding-left: 15px;
    list-style: none;
    background: url(../img/list-arrow.png) no-repeat left 14px;
}

.sidebar ul li a {
    color: #979797;
    font-size: 13px;
    font-family: 'oxygenregular';
}

.sidebar-posts {
    padding: 20px 0;
    border-bottom: 1px solid #ebede8;
    overflow: hidden;
}

.sidebar-posts h1 {
    font-size: 13px;
    line-height: 22px;
    color: #f85c5e;
    text-transform: uppercase;
}

.sidebar-posts p {
    color: #979797;
    font-size: 13px;
    line-height: 22px;
    font-family: 'oxygenregular';
    text-decoration: underline;
    padding-bottom: 0;
}

.sidebar-posts i {
    width: 24px;
    height: 27px;
    padding: 15px;
    margin-right: 15px;
    float: left;
    border: 3px solid #f0f0f0;
    border-radius: 5px;
    font-size: 27px;
    color: #747474;
}

.social ul {
    margin: 0;
}

.social ul li {
    list-style: none;
    display: inline-block;
    margin-right: 8px;
}

.social ul li a i {
    color: #656565;
    font-size: 22px;
    width: 15px;
    height: 15px;
    padding: 3px;
    border-radius: 4px;
}

.social ul li a i:hover {
    color: #eee;
}
.footer-menu ul {
    margin: 0;
}

.footer-menu ul li {
    list-style: none;
    display: inline-block;
}

.footer-menu ul li a {
    color: #f85c5e;
    font-size: 13px;
    line-height: 20px;
    font-family: 'open_sansbold';
}

.site-footer {
    padding-top: 35px;
}

.copy-rights span {
    color: #f85c5e;
    font-size: 13px;
    line-height: 20px;
    font-family: 'open_sansbold';
}

.copy-rights a {
    color: #a5a5a5;
}
/*CREATED BY JAEHYUN BAIK*/