.gallery {
    float: left;
    width: 100%;
    padding: 180px 0 40px 0;
    background: #92b3c7;
}

.gallery-inner {
    width: 90%;
    max-width: 1280px;
    margin: 0 auto;
}

.item {
    float: left;
    overflow: hidden;
    width: 30%;
    height: 18%;
    padding: 0 0 10% 3%;
    text-decoration: none;
}

.item .image {
    position: relative;
    float: left;
    width: 100%;
}

.item .image img {
    width: 100%;
    height: auto;
}

.item .text {
    position: relative;
    float: left;
    width: 100%;
    padding: 40px 0;
}

.item h2 {
    position: relative;
    float: left;
    width: 100%;
    margin: 0 0 10px 0;
    font: normal 600 18px/1 'Open Sans';
    text-transform: uppercase;
    text-align: center;
    color: #000;
}

.item p {
    position: relative;
    float: left;
    width: 100%;
    font: normal 400 14px/2 'Open Sans';
    text-align: center;
    color: #444;
}

.item .text .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background: #000;
}